jobset:
  apiVersion: jobset.x-k8s.io/v1alpha2
  kind: JobSet
  metadata:
    name: {{ job_name }}-{{ user_id }}-{{ timestamp }}
    trainy.ai/job-name: {{ job_name }} 
  spec:
    replicatedJobs:
    - name: workers
      template:
        spec:
          parallelism: {{ num_nodes }}
          completions: {{ num_nodes }}
          backoffLimit: 0
          template: {}